In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

In [ ]:

* : String 
'hello' : Values
-87.8 : Values
- : String 
/ : String
+ : String 
6 : Values

In [ ]:
2. What is the difference between string and variable?

In [ ]:
A Variable is a store of information, and a String is a type of information you would store in a Variable.

In [ ]:
3. Describe three different data types.

In [ ]:
1. Charecter
2. Boolean
3. Integer

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
an “expression” is a combination of values and functions that are combined and interpreted by the compiler to create a new value, as opposed to a “statement” which is just a standalone unit of execution and doesn't return anything.

In [ ]:
6. After running the following code, what does the variable bacon contain?

In [5]:
bacon = 22
bacon + 1

23

In [ ]:
bacon contains integer value (that is 23)

In [ ]:
7. What should the values of the following two terms be?

In [ ]:
first one does concatination

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
Second one concatinates spam word 3 times

In [10]:
'spam'*3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Eggs is valid variable name because its a string and it is not keyword where as 100 is a value (Integer) which cannot be given as a variable name

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [ ]:
10. Why does this expression cause an error? How can you fix it?

In [12]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [ ]:
the above expression gives error because we cannot concatinate str and int but we can convert int to string and then concatenate them

In [13]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'